  <article class="post">
  <div class="title card">
    <div class="card-header">
      <h3 class="card-title">{{title}}</h3>
    </div>
    <div class="card-body">
      <p class="card-text ">{{content}}</p>
    </div>   
  
    <div class="meta card-footer">
      <a class="card-footer" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>

  </div>
</article>